
#contact{
    width: 100%;
    background-color: whitesmoke;
    float: left;
    margin-top: 50px;

    #posts{
        width: 70%;
        float: left;
    }
    #postIt{
        margin-top: 80px;
        width: 30%;
        float: left;
    }

}

